*.o
*.mod
*~
*.so
python/build/
main/oorb
data/JPL_ephemeris/asc2eph
data/JPL_ephemeris/de405.dat
data/JPL_ephemeris/ephtester
data/JPL_ephemeris/testpo.405
data/JPL_ephemeris/ascp*.405
data/JPL_ephemeris/ascii.405
data/JPL_ephemeris/header.405*
data/de405.dat
Makefile.include
prefix.h
prefix.include
data/JPL_ephemeris/de430.dat
data/JPL_ephemeris/ephtester
data/JPL_ephemeris/testpo.430
data/JPL_ephemeris/ascp*.430
data/JPL_ephemeris/ascii.430
data/JPL_ephemeris/header.430*
data/de430.dat
lib/liboorb.*
python/liboorb.*
