*.o
*.mod
*~
*.so
python/build/
main/oorb
data/JPL_ephemeris/asc2eph
data/JPL_ephemeris/de*.dat
data/JPL_ephemeris/ephtester
data/JPL_ephemeris/testpo.*
data/JPL_ephemeris/ascii*
data/JPL_ephemeris/ascp*
data/JPL_ephemeris/header*
data/de4*.dat
Makefile.include
