*.o
*.mod
*~
*.so
python/build/
main/oorb
main/ephemeris_linking
main/orbit_linking
Makefile.include
prefix.h
prefix.include

# Don't store the data files
data/de*.dat
data/JPL_ephemeris/header.*
data/JPL_ephemeris/*.405
data/JPL_ephemeris/*.430
data/JPL_ephemeris/*.431
data/JPL_ephemeris/*.440
data/JPL_ephemeris/*.441
data/JPL_ephemeris/de*.dat
data/JPL_ephemeris/ephtester
data/JPL_ephemeris/asc2eph

VERSION
__pycache__
.pytest_cache
bin/
lib/
dist/
sdist/
build/_pyoorb_build/
build/*.pyf
build/version.h
python/pyoorb/pyoorb.name
python/pyoorb/pyoorb.sp_dir
python/pyoorb/_version.py
*.gcov
*.gcda
*.gcno
wheelhouse/
*.egg-info/