#====================================================================#
#                                                                    #
# Copyright 2009 Mikael Granvik, Jenni Virtanen, Karri Muinonen,     #
#                Teemu Laakso, Dagmara Oszkiewicz                    #
#                                                                    #
# This file is part of OpenOrb.                                      #
#                                                                    #
# OpenOrb is free software: you can redistribute it and/or modify it #
# under the terms of the GNU General Public License as published by  #
# the Free Software Foundation, either version 3 of the License, or  #
# (at your option) any later version.                                #
#                                                                    #
# OpenOrb is distributed in the hope that it will be useful, but     #
# WITHOUT ANY WARRANTY; without even the implied warranty of         #
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU  #
# General Public License for more details.                           #
#                                                                    #
# You should have received a copy of the GNU General Public License  #
# along with OpenOrb. If not, see <http://www.gnu.org/licenses/>.    #
#                                                                    #
#====================================================================#
#
# This file contains all variables needed to run make.
#
# Author:  MG
# Version: 2009-08-07

# Project name:
PROJNAME          = OpenOrb
# Version:
VERSION           = 1.0
# Make command
MAKE              = make


# Compiler command and options:

# g95: 
FC_G95               = g95
FCOPTIONS_OPT_G95    = -fintrinsic-extensions -fzero -fshort-circuit -O3
#FCOPTIONS_OPT_G95    = -fintrinsic-extensions -fzero -fshort-circuit -O3 -std=f95 
FCOPTIONS_DEB_G95    = -g -O0 -fbounds-check -fintrinsic-extensions -fzero -fshort-circuit -ftrace=full
#FCOPTIONS_DEB_G95    = -g -O0 -fbounds-check -fintrinsic-extensions -fzero -fshort-circuit -ftrace=full -std=f95
FC_INC_G95           = -I

# gfortran: 
FC_GFORTRAN               = gfortran
FCOPTIONS_OPT_GFORTRAN    = -O3
FCOPTIONS_DEB_GFORTRAN    = -g -O0 -fbounds-check -pedantic -Wall 
FC_INC_GFORTRAN           = -I

# Absoft: 
FC_ABSOFT            = f90
FCOPTIONS_OPT_ABSOFT = -en -O2 -cpu:p7 -lU77 -YDEALLOC=ALL
FCOPTIONS_DEB_ABSOFT = -g -P -en -g
FC_INC_ABSOFT        = -p

# Compaq:
FC_COMPAQ            = f95
FCOPTIONS_OPT_COMPAQ = -O2 -C -std95
FCOPTIONS_DEB_COMPAQ = -g2 -pg -C -std95
FC_INC_COMPAQ        = -I

# IBM:
FC_SER_IBM           = xlf90
FC_PAR_IBM           = xlf90_r
FCOPTIONS_PAR_IBM    = -qsuffix=f=f90 -qarch=pwr4 -qtune=pwr4 -qsmp=omp -g
FCOPTIONS_OPT_IBM    = -qsuffix=f=f90 -O -qmaxmem=-1
FCOPTIONS_DEB_IBM    = -qsuffix=f=f90 -g -qfullpath -qlist -qsource -qxref -qcheck
FC_INC_IBM           = -I

# Intel: 
FC_INTEL             = ifort
#FC_INTEL             = /opt/intel/fce/10.0.023/bin/ifort
FCOPTIONS_OPT_INTEL  = -O3 -ip -static
FCOPTIONS_DEB_INTEL  = -g
FC_INC_INTEL         = -I

# Lahey: 
FC_LAHEY             = lf95
FCOPTIONS_OPT_LAHEY  = --f95 --wo --warn --o2 --staticlink
# Warning: use of --chkglobal will lead to mysterious crashes.
FCOPTIONS_DEB_LAHEY  = --f95 -g -O0 --staticlink
FC_INC_LAHEY         = -M

# Sun: 
FC_SUN               = f90
FCOPTIONS_OPT_SUN    = -C -e -m32 -fast -Bstatic
FCOPTIONS_PAR_SUN    = -ansi -xarch=v9b -O3 -openmp -vpara -g
FCOPTIONS_DEB_SUN    = -g -C -e -m32
FC_INC_SUN           = -M

# Output name of the orbit computation executable: 
ORBITBIN          = oorb
# Name of orbit computation program source file:
ORBITSRC          = oorb.f90

# Path to main programs:
MAINPATH          = main
# Path to documentation:
DOCPATH           = doc
# Path to classes:
CLASSPATH         = classes
# Path to modules:
MODULEPATH        = modules
# Path to Python source:
PYTHONPATH        = python

F90_CLASS_SOURCES = Base_class.f90 \
                    Unit_class.f90 \
                    File_class.f90 \
                    Time_class.f90 \
                    Observatory_class.f90 \
                    SphericalCoordinates_class.f90 \
                    CartesianCoordinates_class.f90 \
                    Observation_class.f90 \
                    Observatories_class.f90 \
                    Orbit_class.f90 \
                    Observations_class.f90 \
                    StochasticOrbit_class.f90 \
		    PhysicalParameters_class.f90

F90_MODULE_SOURCES = parameters.f90 \
                     utilities.f90 \
                     random.f90 \
                     sort.f90 \
                     functions.f90 \
                     linal.f90 \
                     estimators.f90 \
                     planetary_data.f90 \
                     cl_options.f90 \
                     integrators.f90 \
                     statistics.f90

